* {
    padding: 0; 
    margin: 0; 
}

html, body {
    max-width: 1024px;
    margin: 0 auto;     
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;

    background-color: #eee;
}

#header {
    padding: 1.5em 1em; 
    text-align: center;
    margin-top: 1em; 
    border: 1px solid #ddd; 
    background-color: #fff; 
}

#header .a_btn {
    float: right; 
    margin-right: 0.5em; 
}

.a_btn {
    padding: 1em; 
    color: #000; 
    text-decoration: none; 
    background-color: #ddd; 
    border-radius: 1px; 

    margin-top: 1em; 
}

.a_btn:hover {
    background-color: #ccc; 
}

#header #title {
    font-size: 4em; 
    display: inline;
}

#breadcrumb {
    padding: 0.5em; 
    font-size: 1.1em; 
    border: 1px solid #ddd; 
    border-top: none; 
    margin-top: 0.5em; 
    background-color: #fff; 
}

#menu {
    float: left; 
    width: 18%; 
    margin-top: 0.5em; 
    background-color: #fff;
    border: 1px solid #ddd;  
    border-bottom: none; 
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    border-bottom: 1px solid #ddd; 
    text-align: center; 
    font-size: 1.15em;
}

#menu ul li:hover{
    background-color: #ddd;
}

/* il padding non è inserito nel li, 
    ma nel tag a poichè in questo modo 
    l'utente può accedere al link cliccando 
    un qualunque punto del li */
#menu ul li a {
    text-decoration: none;
    display: inline-block;  
    width: 100%; 
    padding: 1em 0; 
    color: #000; 
}

/* viene aggiunto il padding all'elemento 
attivo, poichè questo non è un link */
.active {
    padding: 1em 0; 
    background-color: #ddd; 
}

#content, #cr_content {
    min-height: 50em; 
    margin: 0.5em 0 0.5em 19%; 
    border: 1px solid #ddd; 
    background-color: #fff; 
    padding: 2em;   
}

#footer{
    padding: 1em; 
    text-align: center;  
    border: 1px solid #ddd; 
    background-color: #fff; 
    margin-bottom: 2em; 
}

#page_title {
    font-size: 2.5em; 
}

.hide {
    display: none; 
} 

#hamburger {
    display: none;
}

#scrollBtn {
    position: fixed; 
    right: 1em; 
    bottom: 1em;  
}

/* allinea radio button e relativa label */
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

input[type="text"], input[type="password"], input[type= "email"], select {
    padding: 0.75em; 
    border: 0; 
    border-bottom: 1px solid #ddd; 
    transition: border-color ease-in-out 200ms; 
}

input[type="text"]:focus, input[type="password"]:focus, input[type= "email"], select:focus  {
    border-bottom-color: #000; 
    outline: none; 
}


/* ------------- PAGINA FAQ ---------- */
.faq_header {
    text-align: center; 
    margin-top: 1.5em; 
}

.faq_title {
    font-size: 2em; 
    display: inline-block;  
}

.faq_control_open, .faq_control_close {
    float: right; 
    margin-right: 1em;
    margin-top: 1em; 
}

.faq_list {
    padding: 1em; 
}

.faq_list dt {
    font-size: 1.35em;   
    background-image: url(../img/bottom_arrow.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1em 1em;
    padding: 0.5em 0.3em 0.5em 1.5em;
    cursor: pointer;
    border-top: 1px solid #ddd; 
}

.faq_list dt:first-of-type {
    border-top: none;   
}

.faq_list dt:hover {
    background-color: #eee; 
}

.faq_list dd {
    font-size: 1.15em; 
    margin-left: 1.5em; 
    padding: 0.75em; 
    background-color: #eee; 
    border-radius: 0.75em;  
    margin-bottom: 0.5em;   
}

.faq_list .faq_closed {
    background-image: url(../img/right_arrow.svg);
}

/* ------------- PAGINA DI RICERCA ---------- */
#form_ricerca {
    border-left: 5px solid #ddd; 
}

#form_ricerca fieldset {
    border: 0; 
    padding: 0.5em 0 0.5em 1em; 
    margin: 2em 0 2.5em 0; 
}

#form_ricerca input[type="radio"]{
    margin-left: 0.25em; 
}

#form_ricerca input[type="radio"] + label {
    display: inline-block;
    margin: 1em 1em 0em 0em; 
}

.in_wrapper {
    display: inline-block; 
    vertical-align: top; 
}

.in_wrapper_title {
    display: block; 
    font-size: 1em; 
}

.in_wrapper:first-of-type {
    width: 50%; 
}

#sbar { 
    width: calc(100% - 2em);
}

#tipologia {
    margin-right: 1em; 
}

#search_btn {
    margin-top: 0.75em; 
    padding: 0.75em; 
}

/*---------------Pagina ultimi ristoranti-------------*/
.ristoranti {
    border: 1px solid rgb(128, 128, 128);
    padding: 1em;
    margin-top: 1em;
    min-height: 15em;
}
.ristoranti img{
    float:left;
    width: 20%;
    padding: 1em;
}
.ristoranti a{
    color: #000000;
    text-decoration: none;
}
.ristoranti h1{
    font-size: 2em;
}
.ristoranti p{
    font-size: 1em;
}

/* --------------- Pagine chisiamo e regolamento -------------- */
#cr_content{
    font-size: 1.2em;
}
#cr_content h1, #cr_content h2{
    text-align: center;
    padding: 0.5em;
}
#cr_content h1{
    font-size: 2.5em;
}
#cr_content strong{
    text-decoration: underline;
}
#cr_content ol, #cr_content ul, #cr_content p, #cr_content span.list-span{ 
    padding: 0.5em; 
    list-style-position: inside;
    list-style-type: square;
}

/*-------------Pagina di visualizzazione ristorante-------------*/
#nomeRist {
    text-align: center;
}

#mainphoto{
    width: 40%;
    display: block;
    margin: auto;
}

.photoes{
    float:left;
    width: 30%;
    padding: 1%;
}

#orario{
    clear:left;
    list-style-type: none;
    padding: 1em;
}
#orario > p{
    padding: 1em 0 1em;
}
#orario li{
    padding: 0 0 0 3em;
}

#contatto{
    padding: 1em;
}

@media only screen and (max-width: 768px) {
    
    body {
        display: flex;
        flex-direction: column;
    }

    #header {
        order: 1;
        margin-top: 0.5em;
        border: 0;
    }

    #header .a_btn {
        margin-top: 0.5em; 
       /* display: none; */
    }

    #header #title {
        font-size: 3em;
    }
    
    #hamburger {
        display: inline-block;
    }

    #breadcrumb {
        order: 2;
        border: 0;
    }

    #content {
        margin-left: 0px; 
        order: 3;
        border: 0;
    }

    #menu {
        order: 4;
        width: 100%;
        margin-bottom: 1em;
        border: 0;
       /* height: 50vh; */
    }

    #footer {
        order: 5; 
        border: 0;
    }
}

@media only screen and (max-width: 600px) {
    #header #title { display: block; font-size: 3.5em }
    #header .a_btn {
        float: none;
        padding: 0.5em; 
    }
    #header { padding: 1em; }
    #content { 
        padding: 1em; 
    }
    .in_wrapper, #search_btn {
        margin-top: 2em; 
        margin-left: 0.5em; 
    }

    .in_wrapper:first-of-type {
        width: 95%; 
        margin-top: 0; 
    }

}
/* ----------- CSS pagina login ------------------*/
/*#login_content a, label, input[type="text"], input[type="password"], input[type="submit"]{
    display: block;
}*/
#login_content label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
#login_content input[type= "email"], input[type= "password"]{
    display: inline-block;
}