
#img_sel{
    float: right;
}

.centered{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden{
    display: none;
}
#recensore,#ristoratore{
    display: inline-block;
}
#recensore:checked~#piva_l{
    display: none;
}
#recensore:checked~#piva{
    display: none;
}
#ristoratore:checked~#pipiva_lva,#piva {
    display: block;
}