
<dl class="card_list rist_list">
    <dt >%NOME%</dt>
    <dd class="">
        <img class="rist_img" src="" alt="Immagine principale ristorante" />      
        
        <div class="rist_dett">
            <span>%INDIRIZZO%</span>
            <span>%TIPOLOGIA%</span>
                
            <span class="stelle_item">Stelle %NUMERO_STELLE%/5 
                <span class="stelle_counter">%LISTA_STELLE%</span>
            </span>
    
            <p class="rist_descrizione">%DESCRIZIONE%</p>
    
            %FORM_ELIMINAZIONE%
    
            <form method="GET" action="dettaglioristorante.html">
                <fieldset>
                    <input type="hidden" name="id" value="%ID_RISTORANTE%">
                    <input type="submit" name="visitaRist" value="Vai al ristorante" />
                </fieldset>
            </form>
        </div> 
    </dd>
</dl>


<!-- <li  >
    <h1 class="rist_name">%NOME%</h1>

    <img class="rist_img" src="%PATH_IMG%" alt="Immagine principale ristorante" />      
    
    <div class="rist_dett">
        <span>%INDIRIZZO%</span>
        <span>%TIPOLOGIA%</span>
            
        <span class="stelle_item">Stelle %NUMERO_STELLE%/5 
            <span class="stelle_counter">%LISTA_STELLE%</span>
        </span>

        <p class="rist_descrizione">%DESCRIZIONE%</p>

        %FORM_ELIMINAZIONE%

        <form method="GET" action="dettaglioristorante.html" class="input_btn_form">
            <fieldset>
                <input type="hidden" name="id" value="%ID_RISTORANTE%">
                <input type="submit" name="visitaRist" value="Vai al ristorante" />
            </fieldset>
        </form>
    </div> 
</li> -->

<!-- FORM ELIMINAZIONE 
<form method="POST" action="" class="input_btn_form">
    <fieldset>
        <input type="hidden" name="id" value="%ID_RISTORANTE%">
        <input type="submit" name="elimina" value="Rimuovi ristorante" />
    </fieldset>
</form>
-->