<dt >%NOME%</dt>
<dd>
    <img class="rist_img" src="%PATH_IMG%" alt="Immagine principale ristorante %NOME%" />      

    <div class="rist_dett">
        <span>%INDIRIZZO%</span>
        <span>%TIPOLOGIA%</span>

        <span class="stelle_item">Stelle %NUMERO_STELLE%/5 
            <span class="stelle_counter">%LISTA_STELLE%</span>
        </span>

        <p class="rist_descrizione">%DESCRIZIONE%</p>

        %FORMS% 
               
    </div> 
</dd>



<!-- FORM ACCETAZIONE RISTORANTE 
<form method="get" action="dettaglioristorante.html">
    <fieldset>
        <input type="hidden" name="id" value="%ID_RISTORANTE%">
        <input type="submit" name="visitaRist" value="Vai al ristorante" />
    </fieldset>
</form>
-->

<!-- FORM RIFIUTO RISTORANTE 
<form method="get" action="dettaglioristorante.html">
    <fieldset>
        <input type="hidden" name="id" value="%ID_RISTORANTE%">
        <input type="submit" name="visitaRist" value="Vai al ristorante" />
    </fieldset>
</form>
-->

<!-- FORM DETTAGLIO RISTORANTE 
<form method="get" action="dettaglioristorante.html">
    <fieldset>
        <input type="hidden" name="id" value="%ID_RISTORANTE%">
        <input type="submit" name="visitaRist" value="Vai al ristorante" />
    </fieldset>
</form>
-->

<!-- FORM ELIMINAZIONE 
<form method="post" action="" class="input_btn_form">
    <fieldset>
        <input type="hidden" name="id" value="%ID_RISTORANTE%">
        <input type="submit" name="elimina" value="Rimuovi ristorante" />
    </fieldset>
</form>
-->