<dt>
    <h2>%TITOLO%</h2> 
    <span class="data_item">%DATA%</span> 
</dt>
<dd>
    <span class="rist_name_item">%NOME_RISTORANTE%</span>
    <p class="descrizione_item">%CONTENUTO%</p>

    <span class="stelle_item">Stelle %NUMERO_STELLE%/5
        <span class="stelle_counter">%LISTA_STELLE%</span>
    </span>

    <div class="like_info">MI PIACE: 
        <span title="Numero di mi piace">%NUMERO_MI_PIACE%</span>
            
        %LIKE_FORM% 
    </div>
    
    <form action="dettaglioristorante.php" method="get">
        <fieldset>
            <input type="hidden" name="id" value="%ID_RISTORANTE%"/>
            <input type="submit" class="btn" name="Visita" value="Vai al ristorante" tabindex="3" />
        </fieldset>
    </form>

    %DELETE_FORM%
</dd>