<dt>
    <h2>%TITOLO%</h2> 
    <span class="data_item">%DATA%</span> 
</dt>
<dd>
    <span class="rist_name_item">%NOME_RISTORANTE%</span>
    <p class="descrizione_item">%CONTENUTO%</p>

    <span class="stelle_item">Stelle %NUMERO_STELLE%/5
        <span class="stelle_counter">%LISTA_STELLE%</span>
    </span>

    <div class="like_info">MI PIACE: 
        <span title="Numero di mi piace">%NUMERO_MI_PIACE%</span>
            
        %LIKE_FORM% 
    </div>
    
    <form action="remove_review.php" method="POST" class="input_btn_form">
        <fieldset>
            <input type="hidden" name="id_ristorante" value="%ID_RECENSIONE%"/>
            <input type="submit" class="input_recensioni" name="Elimina" value="Elimina" tabindex="2" />
        </fieldset>
    </form>
    
    <form action="dettaglioristorante.html" method="GET" class="input_btn_form" >
        <fieldset>
            <input type="hidden" name="id_ristorante" value="%ID_RISTORANTE%"/>
            <input type="submit" class="input_recensioni" name="Visita" value="Vai al ristorante" tabindex="3" />
        </fieldset>
    </form>
</dd>
       

<!--  FORM PER UTENTE CHE NON HA ANCORA MESSO LIKE 
    <form action="" method="">
        <fieldset>
            <input type="submit" title="Premi per mettere mi piace" value="" class="like_button" tabindex="1">
        </fieldset>
    </form>
-->

<!-- IMMAGINE PER UTENTE CHE HA GIA MESSO LIKE 
    <img src="../img/has_like_button.svg" alt="Hai messo like" class="has_like"/>              
-->